In [360]:
import pandas as pd
import numpy as np

In [361]:
df=pd.read_csv('ssa_fb.csv')  
df

,"FACEBOOK, INC.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,CONDENSED CONSOLIDATED BALANCE SHEETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(In millions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(Unaudited),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,?,?,?,"June?30, 2018",NaN,NaN,?,31-Dec-17,NaN,NaN
4,Assets,NaN,NaN,?,NaN,NaN,?,?,NaN,NaN
5,Current assets:,NaN,NaN,?,NaN,NaN,?,?,NaN,NaN
6,?,Cash and cash equivalents,NaN,$,"11,552",NaN,?,$,"8,079",NaN
7,?,Marketable securities,NaN,"30,757",NaN,NaN,?,"33,632",NaN,NaN
8,?,"Accounts receivable, net of allowances of $198...",NaN,"5,590",NaN,NaN,?,"5,832",NaN,NaN
9,?,Prepaid expenses and other current assets,NaN,"1,934",NaN,NaN,?,"1,020",NaN,NaN
10,?,?,Total current assets,"49,833",NaN,NaN,?,"48,563",NaN,NaN
11,"Property and equipment, net",NaN,NaN,"18,357",NaN,NaN,?,"13,721",NaN,NaN
12,"Intangible assets, net",NaN,NaN,"1,573",NaN,NaN,?,"1,884",NaN,NaN
13,Goodwill,NaN,NaN,"18,263",NaN,NaN,?,"18,221",NaN,NaN
14,Other assets,NaN,NaN,"2,265",NaN,NaN,?,"2,135",NaN,NaN
15,Total assets,NaN,NaN,$,"90,291",NaN,?,$,"84,524",NaN
16,?,?,?,?,NaN,NaN,?,?,NaN,NaN
17,Liabilities and stockholders' equity,NaN,NaN,?,NaN,NaN,?,?,NaN,NaN
18,Current liabilities:,NaN,NaN,?,NaN,NaN,?,?,NaN,NaN
19,?,Accounts payable,NaN,$,419,NaN,?,$,380,NaN
20,?,Partners payable,NaN,440,NaN,NaN,?,390,NaN,NaN
21,?,Accrued expenses and other current liabilities,NaN,"3,720",NaN,NaN,?,"2,892",NaN,NaN
22,?,Deferred revenue and deposits,NaN,91,NaN,NaN,?,98,NaN,NaN
23,?,?,Total current liabilities,"4,670",NaN,NaN,?,"3,760",NaN,NaN
24,Other liabilities,NaN,NaN,"6,239",NaN,NaN,?,"6,417",NaN,NaN
25,?,?,Total liabilities,"10,909",NaN,NaN,?,"10,177",NaN,NaN
26,Commitments and contingencies,NaN,NaN,?,NaN,NaN,?,?,NaN,NaN
27,Stockholders' equity:,NaN,NaN,?,NaN,NaN,?,?,NaN,NaN
28,?,Common stock and additional paid-in capital,NaN,"41,832",NaN,NaN,?,"40,584",NaN,NaN
29,?,Accumulated other comprehensive loss,NaN,(687,NaN,),?,(227,NaN,)
30,?,Retained earnings,NaN,"38,237",NaN,NaN,?,"33,990",NaN,NaN
31,?,?,Total stockholders' equity,"79,382",NaN,NaN,?,"74,347",NaN,NaN
32,Total liabilities and stockholders' equity,NaN,NaN,$,"90,291",NaN,?,$,"84,524",NaN

In [362]:
df=df.replace('?', np.nan).replace('$', np.nan).replace(')', np.nan).fillna(method='ffill',axis=1)
df

,"FACEBOOK, INC.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS,CONDENSED CONSOLIDATED BALANCE SHEETS
1,(In millions),(In millions),(In millions),(In millions),(In millions),(In millions),(In millions),(In millions),(In millions),(In millions)
2,(Unaudited),(Unaudited),(Unaudited),(Unaudited),(Unaudited),(Unaudited),(Unaudited),(Unaudited),(Unaudited),(Unaudited)
3,NaN,NaN,NaN,"June?30, 2018","June?30, 2018","June?30, 2018","June?30, 2018",31-Dec-17,31-Dec-17,31-Dec-17
4,Assets,Assets,Assets,Assets,Assets,Assets,Assets,Assets,Assets,Assets
5,Current assets:,Current assets:,Current assets:,Current assets:,Current assets:,Current assets:,Current assets:,Current assets:,Current assets:,Current assets:
6,NaN,Cash and cash equivalents,Cash and cash equivalents,Cash and cash equivalents,"11,552","11,552","11,552","11,552","8,079","8,079"
7,NaN,Marketable securities,Marketable securities,"30,757","30,757","30,757","30,757","33,632","33,632","33,632"
8,NaN,"Accounts receivable, net of allowances of $198...","Accounts receivable, net of allowances of $198...","5,590","5,590","5,590","5,590","5,832","5,832","5,832"
9,NaN,Prepaid expenses and other current assets,Prepaid expenses and other current assets,"1,934","1,934","1,934","1,934","1,020","1,020","1,020"
10,NaN,NaN,Total current assets,"49,833","49,833","49,833","49,833","48,563","48,563","48,563"
11,"Property and equipment, net","Property and equipment, net","Property and equipment, net","18,357","18,357","18,357","18,357","13,721","13,721","13,721"
12,"Intangible assets, net","Intangible assets, net","Intangible assets, net","1,573","1,573","1,573","1,573","1,884","1,884","1,884"
13,Goodwill,Goodwill,Goodwill,"18,263","18,263","18,263","18,263","18,221","18,221","18,221"
14,Other assets,Other assets,Other assets,"2,265","2,265","2,265","2,265","2,135","2,135","2,135"
15,Total assets,Total assets,Total assets,Total assets,"90,291","90,291","90,291","90,291","84,524","84,524"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity
18,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:,Current liabilities:
19,NaN,Accounts payable,Accounts payable,Accounts payable,419,419,419,419,380,380
20,NaN,Partners payable,Partners payable,440,440,440,440,390,390,390
21,NaN,Accrued expenses and other current liabilities,Accrued expenses and other current liabilities,"3,720","3,720","3,720","3,720","2,892","2,892","2,892"
22,NaN,Deferred revenue and deposits,Deferred revenue and deposits,91,91,91,91,98,98,98
23,NaN,NaN,Total current liabilities,"4,670","4,670","4,670","4,670","3,760","3,760","3,760"
24,Other liabilities,Other liabilities,Other liabilities,"6,239","6,239","6,239","6,239","6,417","6,417","6,417"
25,NaN,NaN,Total liabilities,"10,909","10,909","10,909","10,909","10,177","10,177","10,177"
26,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies
27,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:
28,NaN,Common stock and additional paid-in capital,Common stock and additional paid-in capital,"41,832","41,832","41,832","41,832","40,584","40,584","40,584"
29,NaN,Accumulated other comprehensive loss,Accumulated other comprehensive loss,(687,(687,(687,(687,(227,(227,(227
30,NaN,Retained earnings,Retained earnings,"38,237","38,237","38,237","38,237","33,990","33,990","33,990"
31,NaN,NaN,Total stockholders' equity,"79,382","79,382","79,382","79,382","74,347","74,347","74,347"
32,Total liabilities and stockholders' equity,Total liabilities and stockholders' equity,Total liabilities and stockholders' equity,Total liabilities and stockholders' equity,"90,291","90,291","90,291","90,291","84,524","84,524"

In [363]:
df= df.loc[:,['Unnamed: 2','Unnamed: 6','Unnamed: 9']]
df=df.drop([n for n in range(4)])

In [364]:
df.columns = ['', 'June 30, 2018','December 31, 2017']
df=df.dropna().reset_index(drop=True)
df

,,"June 30, 2018","December 31, 2017"
0,Assets,Assets,Assets
1,Current assets:,Current assets:,Current assets:
2,Cash and cash equivalents,"11,552","8,079"
3,Marketable securities,"30,757","33,632"
4,"Accounts receivable, net of allowances of $198...","5,590","5,832"
5,Prepaid expenses and other current assets,"1,934","1,020"
6,Total current assets,"49,833","48,563"
7,"Property and equipment, net","18,357","13,721"
8,"Intangible assets, net","1,573","1,884"
9,Goodwill,"18,263","18,221"
10,Other assets,"2,265","2,135"
11,Total assets,"90,291","84,524"
12,Liabilities and stockholders' equity,Liabilities and stockholders' equity,Liabilities and stockholders' equity
13,Current liabilities:,Current liabilities:,Current liabilities:
14,Accounts payable,419,380
15,Partners payable,440,390
16,Accrued expenses and other current liabilities,"3,720","2,892"
17,Deferred revenue and deposits,91,98
18,Total current liabilities,"4,670","3,760"
19,Other liabilities,"6,239","6,417"
20,Total liabilities,"10,909","10,177"
21,Commitments and contingencies,Commitments and contingencies,Commitments and contingencies
22,Stockholders' equity:,Stockholders' equity:,Stockholders' equity:
23,Common stock and additional paid-in capital,"41,832","40,584"
24,Accumulated other comprehensive loss,(687,(227
25,Retained earnings,"38,237","33,990"
26,Total stockholders' equity,"79,382","74,347"
27,Total liabilities and stockholders' equity,"90,291","84,524"

In [365]:
df.iloc[0:2,1:3]=np.nan
df.iloc[12:14,1:3]=np.nan
df.iloc[21:23,1:3]=np.nan
df.iloc[24,1]='(687)'
df.iloc[24,2]='(227)'
df

,,"June 30, 2018","December 31, 2017"
0,Assets,NaN,NaN
1,Current assets:,NaN,NaN
2,Cash and cash equivalents,"11,552","8,079"
3,Marketable securities,"30,757","33,632"
4,"Accounts receivable, net of allowances of $198...","5,590","5,832"
5,Prepaid expenses and other current assets,"1,934","1,020"
6,Total current assets,"49,833","48,563"
7,"Property and equipment, net","18,357","13,721"
8,"Intangible assets, net","1,573","1,884"
9,Goodwill,"18,263","18,221"
10,Other assets,"2,265","2,135"
11,Total assets,"90,291","84,524"
12,Liabilities and stockholders' equity,NaN,NaN
13,Current liabilities:,NaN,NaN
14,Accounts payable,419,380
15,Partners payable,440,390
16,Accrued expenses and other current liabilities,"3,720","2,892"
17,Deferred revenue and deposits,91,98
18,Total current liabilities,"4,670","3,760"
19,Other liabilities,"6,239","6,417"
20,Total liabilities,"10,909","10,177"
21,Commitments and contingencies,NaN,NaN
22,Stockholders' equity:,NaN,NaN
23,Common stock and additional paid-in capital,"41,832","40,584"
24,Accumulated other comprehensive loss,(687),(227)
25,Retained earnings,"38,237","33,990"
26,Total stockholders' equity,"79,382","74,347"
27,Total liabilities and stockholders' equity,"90,291","84,524"

In [367]:

df.iloc[24,1]=687
df.iloc[24,2]=227

df['June 30, 2018'] = df['June 30, 2018'].str.replace(',', '')
df['December 31, 2017'] = df['December 31, 2017'].str.replace(',', '')

df['June 30, 2018'] = df['June 30, 2018'].apply(lambda x: float(x) if x != np.nan else(x))
df['December 31, 2017'] = df['December 31, 2017'].apply(lambda x: float(x) if x != np.nan else(x))

df

,,"June 30, 2018","December 31, 2017"
0,Assets,NaN,NaN
1,Current assets:,NaN,NaN
2,Cash and cash equivalents,11552.0,8079.0
3,Marketable securities,30757.0,33632.0
4,"Accounts receivable, net of allowances of $198...",5590.0,5832.0
5,Prepaid expenses and other current assets,1934.0,1020.0
6,Total current assets,49833.0,48563.0
7,"Property and equipment, net",18357.0,13721.0
8,"Intangible assets, net",1573.0,1884.0
9,Goodwill,18263.0,18221.0
10,Other assets,2265.0,2135.0
11,Total assets,90291.0,84524.0
12,Liabilities and stockholders' equity,NaN,NaN
13,Current liabilities:,NaN,NaN
14,Accounts payable,419.0,380.0
15,Partners payable,440.0,390.0
16,Accrued expenses and other current liabilities,3720.0,2892.0
17,Deferred revenue and deposits,91.0,98.0
18,Total current liabilities,4670.0,3760.0
19,Other liabilities,6239.0,6417.0
20,Total liabilities,10909.0,10177.0
21,Commitments and contingencies,NaN,NaN
22,Stockholders' equity:,NaN,NaN
23,Common stock and additional paid-in capital,41832.0,40584.0
24,Accumulated other comprehensive loss,NaN,NaN
25,Retained earnings,38237.0,33990.0
26,Total stockholders' equity,79382.0,74347.0
27,Total liabilities and stockholders' equity,90291.0,84524.0

## Current Ratio

In [368]:
df.iloc[6,1]/df.iloc[18,1]

10.670877944325483

## Yearly Percentage Change of each item

In [376]:
df['Yearly Percentage Change']=(df['June 30, 2018']-df['December 31, 2017'])/df['December 31, 2017']

df

,,"June 30, 2018","December 31, 2017",Yearly Percentage Change
0,Assets,NaN,NaN,NaN
1,Current assets:,NaN,NaN,NaN
2,Cash and cash equivalents,11552.0,8079.0,0.429880
3,Marketable securities,30757.0,33632.0,-0.085484
4,"Accounts receivable, net of allowances of $198...",5590.0,5832.0,-0.041495
5,Prepaid expenses and other current assets,1934.0,1020.0,0.896078
6,Total current assets,49833.0,48563.0,0.026152
7,"Property and equipment, net",18357.0,13721.0,0.337876
8,"Intangible assets, net",1573.0,1884.0,-0.165074
9,Goodwill,18263.0,18221.0,0.002305
10,Other assets,2265.0,2135.0,0.060890
11,Total assets,90291.0,84524.0,0.068229
12,Liabilities and stockholders' equity,NaN,NaN,NaN
13,Current liabilities:,NaN,NaN,NaN
14,Accounts payable,419.0,380.0,0.102632
15,Partners payable,440.0,390.0,0.128205
16,Accrued expenses and other current liabilities,3720.0,2892.0,0.286307
17,Deferred revenue and deposits,91.0,98.0,-0.071429
18,Total current liabilities,4670.0,3760.0,0.242021
19,Other liabilities,6239.0,6417.0,-0.027739
20,Total liabilities,10909.0,10177.0,0.071927
21,Commitments and contingencies,NaN,NaN,NaN
22,Stockholders' equity:,NaN,NaN,NaN
23,Common stock and additional paid-in capital,41832.0,40584.0,0.030751
24,Accumulated other comprehensive loss,NaN,NaN,NaN
25,Retained earnings,38237.0,33990.0,0.124949
26,Total stockholders' equity,79382.0,74347.0,0.067723
27,Total liabilities and stockholders' equity,90291.0,84524.0,0.068229

In [378]:
import requests 
URL = "http://data.invbots.com/api/stock_price_daily?stock_code=amzn&exchange=nasdaq&date_from=2016-01-01&date_to=2017-12-31"

r = requests.get(url = URL)

ConnectionError: HTTPConnectionPool(host='data.invbots.com', port=80): Max retries exceeded with url: /api/stock_price_daily?stock_code=amzn&exchange=nasdaq&date_from=2016-01-01&date_to=2017-12-31 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000002C706C9C0C8>: Failed to establish a new connection: [WinError 10060] '))